@charset "UTF-8";

@import 'vendor/normalize';

@font-face {
  font-family: harry3;
  src: url('/assets/font/harry3.ttf');
}
@font-face {
  font-family: harry4;
  src: url('/assets/font/harry4.ttf');
}

@font-face {
  font-family: gold_snitch;
  src: url('/assets/font/gold_snitch.ttf');
}
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}

.content {
  float: right;
  width: 500px;
  height:100vh;
  background: rgb(251, 251, 247);
  color: #707070;
  min-width: 500px;
  margin-left: auto;
  overflow: auto;
  text-align: center;

  @media only screen and (max-width: 730px) {
    min-width: 0;
    width: 100%;
    .photo-mobile {
      position: relative;
      background-image: url('/assets/img/bg.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
      height: 400px;

      .title-mobile {
        position: absolute;
        left: 20px;
        bottom: 100px;
        font-family: harry3;
        font-size: 45px;
        color: white;
      }

      .always-logo-mobile {
        position: absolute;
        right: 80px;
        bottom: 20px;
        background-image: url('/assets/img/always.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 120px;
        height: 80px;
      }
    }
  }

  @media only screen and (min-width: 731px) {
    .title-mobile {
      display: none;
    }
  }

  .welcome {
    min-height: 95svh;
  }

  .location {
    font-family: harry4;
    font-size: 38px;
    margin-bottom: 20px;
  }

  .time {
    font-family: harry4;
    font-size: 34px;
    margin-bottom: 5px;
  }

    .always-logo {
      background-image: url('/assets/img/always.png');
      background-position: center center;
      background-size: 100% 100%;
      height: 240px;
      width: 240px;
      display: inline-block;
    }

  .logo {
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url('/assets/img/hog-logo.png');
    background-position: center center;
    background-size: 100% 100%;

    height: 240px;
    width: 240px;
    display: inline-block;
    padding-right: 5px;
  }

  .button {
    font-size: 65px;
    display:inline-block;
    font-family: gold_snitch;
    letter-spacing: -30px;
    padding-right: 10px;
    cursor: pointer;
    color: #DAA520	;
  }
}

.photo {
  position: relative;
  background-image: url('/assets/img/bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height:100vh;
  .title {
    position: absolute;
    left: 120px;
    bottom: 200px;
    font-family: harry3;
    font-size: 45px;
    color: white;
  }

  .always-logo {
    position: absolute;
    left: 320px;
    bottom: 120px;
    background-image: url('/assets/img/always.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 80px;
    @media only screen and (max-width: 970px) {
      left: 120px;
    }
  }
}

.modal-content {
  font-family: harry4;
  .btn {
    letter-spacing: 2px;
  }
}

.rsvp-content {
  text-align: left;
  padding: 20px;
  font-size: 26px;
  overflow: hidden;
  font-family: harry4;
  font-weight: 100;
  letter-spacing: 1px;


  .form-control {
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 1px;
  }

  .btn {
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

#vegan, #come {
  margin-top:10px;
}

.diet-option {
  padding-top: 10px;
}

.find-button {
  margin-left: 15px;
  margin-bottom: 15px;
}

.sample-tt {
  background-image: url('/assets/img/tt.jpg');
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.btn:hover {
    transform: scale(1.1);
}

.btn {
  transition: transform .2s;
}

.schedule {
  font-family: harry4;
  font-size: 35px;
  padding: 15px;
  letter-spacing: 1px;

  .date {
    font-size: 30px;
    text-align: left;
  }

  .activity {
    padding-left: 20px;
    font-size: 30px;
    text-align: left;
  }

  .travel-title {
    margin-top: 30px;
    font-size: 24px;
  }
}

.come-div {
  margin-top: 15px;
}
